# 1. Подготовка данных

In [ ]:
# Источник и описание полей датасета: http://archive.ics.uci.edu/ml/datasets/online+retail#

In [ ]:
# Импортируем нужные библиотеки
import pandas as pd
import numpy as np

In [ ]:
# Загружаем и читаем датасет
# df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
df = pd.read_excel('http://archive.ics.uci.edu/ml/machine-learning-databases/00352/Online%20Retail.xlsx')
df.head()

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [ ]:
# Смотрим размеры датасета
df.shape

(541909, 8)

In [ ]:
# Чистим датасет: удаляем записи с нулевыми покупками
df = df.loc[df['Quantity'] > 0]

In [ ]:
# Чистим датасет: удаляем записи с пропусками в customer_id
df = df.dropna(subset=['CustomerID'])

In [ ]:
# Агрегируем данные в сводную таблицу "покупатель - товар"
customer_item_matrix = df.pivot_table(index='CustomerID', columns='StockCode', values='Quantity', aggfunc='sum')
customer_item_matrix.head()

StockCode   10002  10080  10120  10125  10133  ...  C2  DOT   M  PADS  POST
CustomerID                                     ...
12346.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   NaN
12347.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   NaN
12348.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   9.0
12349.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   1.0
12350.0       NaN    NaN    NaN    NaN    NaN  ... NaN  NaN NaN   NaN   1.0

[5 rows x 3665 columns]

In [ ]:
# Смотрим на размеры таблицы
customer_item_matrix.shape

(4339, 3665)

In [ ]:
# Сравниваем кол-во строк с кол-вом уникальных покупателей в исходном датафрейме
df['CustomerID'].nunique()

4339

In [ ]:
# Сравниваем кол-во столбцов с кол-вом уникальных товаров в исходном датафрейме
df['StockCode'].nunique()

3665

In [ ]:
# Заменяем кол-во покупок на событие: 1- факт покупки, 0 - отсутствие покупки
customer_item_matrix = customer_item_matrix.applymap(lambda x: 1 if x > 0 else 0)
customer_item_matrix.head()

StockCode   10002  10080  10120  10125  10133  ...  C2  DOT  M  PADS  POST
CustomerID                                     ...
12346.0         0      0      0      0      0  ...   0    0  0     0     0
12347.0         0      0      0      0      0  ...   0    0  0     0     0
12348.0         0      0      0      0      0  ...   0    0  0     0     1
12349.0         0      0      0      0      0  ...   0    0  0     0     1
12350.0         0      0      0      0      0  ...   0    0  0     0     1

[5 rows x 3665 columns]

#2. Коллаборативная фильтрация (Collaborative Filtering)

In [ ]:
# Преобразуем исходную матрицу "покупатель - товар" в массив numpy
m = customer_item_matrix.values
m

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 1],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
# Импортируем библиотеку для создания разреженной матрицы
from scipy.sparse import csr_matrix

In [ ]:
# Задаем функцию расчета косинуса между векторами-строками покупателей
def cos_sim(array):
  # преобразуем 
  csr_array = csr_matrix(array)
  numerator = np.dot(csr_array,csr_array.T).toarray()
  denomenator = np.linalg.norm(array, axis = 1, keepdims = True)*np.linalg.norm(array.T, axis = 0, keepdims = True)
  return numerator / denomenator

In [ ]:
# Вычисляем косинусную меру сходства между векторами-строками покупателей 
user_user_sim_matrix = cos_sim(m)
user_user_sim_matrix

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.06302187, ..., 0.11377602, 0.10936441,
        0.01282789],
       [0.        , 0.06302187, 1.        , ..., 0.        , 0.17090475,
        0.08326911],
       ...,
       [0.        , 0.11377602, 0.        , ..., 1.        , 0.01780047,
        0.        ],
       [0.        , 0.10936441, 0.17090475, ..., 0.01780047, 1.        ,
        0.09633351],
       [0.        , 0.01282789, 0.08326911, ..., 0.        , 0.09633351,
        1.        ]])

In [ ]:
# Добавляем название столбцов и индексов в матрицу мер близости между векторами-строками покупателей 
user_user_sim_matrix = pd.DataFrame(user_user_sim_matrix)

user_user_sim_matrix.columns = customer_item_matrix.index

user_user_sim_matrix['CustomerID'] = customer_item_matrix.index
user_user_sim_matrix = user_user_sim_matrix.set_index('CustomerID')

user_user_sim_matrix.head()

CustomerID  12346.0   12347.0   12348.0  ...   18282.0   18283.0   18287.0
CustomerID                               ...
12346.0         1.0  0.000000  0.000000  ...  0.000000  0.000000  0.000000
12347.0         0.0  1.000000  0.063022  ...  0.113776  0.109364  0.012828
12348.0         0.0  0.063022  1.000000  ...  0.000000  0.170905  0.083269
12349.0         0.0  0.046130  0.024953  ...  0.067574  0.137124  0.030475
12350.0         0.0  0.047795  0.051709  ...  0.000000  0.044866  0.000000

[5 rows x 4339 columns]

# 3. Рекомендации на основе коллабортивной фильтрации

In [ ]:
# На примере эталонного покупателя находим тех покупателей, которые близки к нему по косинусной мере
user_user_sim_matrix.loc[12350.0].sort_values(ascending=False)

CustomerID
12350.0    1.000000
17935.0    0.183340
12414.0    0.181902
12652.0    0.175035
16754.0    0.171499
             ...
15953.0    0.000000
15952.0    0.000000
15951.0    0.000000
15950.0    0.000000
12346.0    0.000000
Name: 12350.0, Length: 4339, dtype: float64

In [ ]:
# Определяем перечень уникальных покупок нашего эталонного покупателя
A = customer_item_matrix.loc[12350.0]
items_bought_by_A = A[A>0].index.tolist()
items_bought_by_A

[20615,
 20652,
 21171,
 21832,
 21864,
 21866,
 21908,
 21915,
 22348,
 22412,
 22551,
 22557,
 22620,
 '79066K',
 '79191C',
 '84086C',
 'POST']

In [ ]:
# Определяем перечень уникальных покупок покупателя наиболее близкого к нашему
B = customer_item_matrix.loc[17935.0]
items_bought_by_B = B[B>0].index.tolist()
items_bought_by_B

[20657,
 20659,
 20828,
 20856,
 21051,
 21866,
 21867,
 22208,
 22209,
 22210,
 22211,
 22449,
 22450,
 22551,
 22553,
 22557,
 22640,
 22659,
 22749,
 22752,
 22753,
 22754,
 22755,
 23290,
 23292,
 23309,
 '85099B',
 'POST']

In [ ]:
# Отбираем те покупки, которые есть у близкого к нашему покупателю, но нет у нашего покупателя
items_to_recommend_to_A = set(items_bought_by_B) - set(items_bought_by_A)
items_to_recommend_to_A

{20657,
 20659,
 20828,
 20856,
 21051,
 21867,
 22208,
 22209,
 22210,
 22211,
 22449,
 22450,
 22553,
 22640,
 22659,
 22749,
 22752,
 22753,
 22754,
 22755,
 23290,
 23292,
 23309,
 '85099B'}

In [ ]:
# Выводим перечень товаров эталонного покупателя
df.loc[df['StockCode'].isin(items_bought_by_A), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')

                                Description
StockCode
POST                                POSTAGE
21832                  CHOCOLATE CALCULATOR
21915                RED  HARMONICA IN BOX
22620           4 TRADITIONAL SPINNING TOPS
21866           UNION JACK FLAG LUGGAGE TAG
22557      PLASTERS IN TIN VINTAGE PAISLEY
22551              PLASTERS IN TIN SPACEBOY
79066K                       RETRO MOD TRAY
21864       UNION JACK FLAG PASSPORT COVER
79191C          RETRO PLASTIC ELEPHANT TRAY
21908         CHOCOLATE THIS WAY METAL SIGN
20615          BLUE POLKADOT PASSPORT COVER
20652            BLUE POLKADOT LUGGAGE TAG
22348           TEA BAG PLATE RED RETROSPOT
22412       METAL SIGN NEIGHBOURHOOD WITCH
21171                  BATHROOM METAL SIGN
84086C              PINK/PURPLE RETRO RADIO

In [ ]:
# Выводим перечень товаров, рекомендованных для нашего эталонного покупателя
df.loc[df['StockCode'].isin(items_to_recommend_to_A), ['StockCode', 'Description']].drop_duplicates().set_index('StockCode')

                                   Description
StockCode
22752             SET 7 BABUSHKA NESTING BOXES
22749        FELTCRAFT PRINCESS CHARLOTTE DOLL
22659                  LUNCH BOX I LOVE LONDON
85099B                 JUMBO BAG RED RETROSPOT
22449                 SILK PURSE BABUSHKA PINK
22553                   PLASTERS IN TIN SKULLS
21867             PINK UNION JACK  LUGGAGE TAG
22754             SMALL RED BABUSHKA NOTEBOOK
22755          SMALL PURPLE BABUSHKA NOTEBOOK
22753          SMALL YELLOW BABUSHKA NOTEBOOK
22640           SET OF 4 NAPKIN CHARMS 3 KEYS
22210               WOOD STAMP SET BEST WISHES
22209            WOOD STAMP SET HAPPY BIRTHDAY
22208                 WOOD STAMP SET THANK YOU
22450                 SILK PURSE BABUSHKA BLUE
20828                  GLITTER BUTTERFLY CLIPS
20657                     TROPICAL LUGGAGE TAG
20856         DENIM PATCH PURSE PINK BUTTERFLY
20659                      ECONOMY LUGGAGE TAG
22211                   WOOD STAMP SET FLOWERS
21051                           RIBBONS PURSE
23309      SET OF 60 I LOVE LONDON CAKE CASES
23292                  SPACE BOY CHILDRENS CUP
23290                  SPACEBOY CHILDRENS BOWL
23292                   SPACEBOY CHILDRENS CUP